<div class="banner">
    <div class="container">
  <div id="carouselExampleCaptions" class="carousel slide">
   
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/pag 3.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/Varanda (3).png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
    </div>
      </div>
    </div>
    <hr>
    <div class="container mt-4 mb-4">
    <h1 class="text-center"> Quem Somos </h1>
       
               <p>E quem foi que disse que lugar bom é lugar caro? No Varanda você vai ter uma experiência gastronômica incrível e divertida e sem precisar gastar muito. Todos os nossos pratos e drinks são preparados com protutos frescos e selecionados. Chame seus amigos e venha aproveitar essa experiencia!</p>
              
                
       
    </div>
  
